[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "~=0.29.0"
pydantic-settings = "~=2.2.1"
requests = "~=2.31.0"
httpx = "*"
aiohttp = "*"
tensorflow="*"
matplotlib="*"
numpy="*"

[dev-packages]

[requires]
python_version = "3.12"
